/* Custom Styles */
body {
    padding-top: 20px;
}

.navbar-default {
    background-color: #e7e7e7;
    border-color: #d3d3d3;
}

.navbar-brand {
    font-weight: bold;
}

h1 {
    margin-bottom: 30px;
}

h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

p {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .navbar-nav {
        display: none;
    }
}
@media (max-width: 767px) {
    .menu-item p {
        text-align: center;
    }
    
    .col-xs-12.col-sm-6.col-md-4 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
